.wrab {
    width: 525px;
    height: 100px;
    border: 5px solid black;
}

.c1 {
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}

.bg1 {
    background-color: red;
    float: left;
}

.bg2 {
    background-color: yellow;
    float: left;
}

.bg3 {
    background-color: blue;
    float: right;
}

.bg4 {
    background-color: black;
    clear: both;
}