/* * {
    color: red;
} */

/* #이 붙으면 뒤에 id, .이 붙으면 class가 옴 */

#id1 {
    color: blue;
}

h1 {
    color: red;
}

.c1 {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
}

.c2 {
    width: 200px;
    height: 200px;
    background-color: black;
}

.c2 > p {
    color: white;
    text-decoration: line-through;
}

.c2 > div > p {
    color: yellow;
    text-decoration: underline;
}