<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s1.bankBook.BankBookDAO">
  
  	<sql id="searchCondition">
  		<if test="kind == 'contents'">
  			WHERE BOOKDETAIL LIKE '%' || #{search} || '%'
  		</if>
  		
  		<if test="kind == 'title'">
  			WHERE BOOKNAME LIKE '%' || #{search} || '%'
  		</if>
  	</sql>
  	
  	<sql id="searchCondition2">
  		WHERE
						
			<choose>
				<when test="kind == 'contents'">
					BOOKDETAIL
				</when>
				<otherwise>
					BOOKNAME
				</otherwise>
			</choose>
						
		LIKE '%' || #{search} || '%' 
  	</sql>
  
  	<select id="getBankBookCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(BOOKNUMBER) FROM BANKBOOK
  		
  		<include refid="searchCondition"></include>
  		
  	</select>
  
  	<select id="getBankBookList" parameterType="Pager" resultType="BankBookDTO" statementType="PREPARED">
  		SELECT * FROM 
			(
				SELECT ROWNUM R, B.* FROM
					(
						SELECT * FROM BANKBOOK
						<include refid="searchCondition2"></include>
						ORDER BY BOOKNUMBER DESC
					) B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBankBookDetail" parameterType="BankBookDTO" resultMap="bankBookDetailResult">
		SELECT B.*, BI.*
		FROM BANKBOOK B
			LEFT OUTER JOIN
			BANKBOOKIMG BI 
			ON (B.BOOKNUMBER = BI.BOOKNUMBER)
		WHERE B.BOOKNUMBER = #{bookNumber}
  	</select>
  	
  	<resultMap type="BankBookDTO" id="bankBookDetailResult">
  		<!-- Primary Key -->
  		<id column="BOOKNUMBER" property="bookNumber"/>
  		<!-- 그외 나머지 -->
  		<result column="BOOKNAME" property="bookName"/>
  		<result column="BOOKDETAIL" property="bookDetail"/>
  		<result column="BOOKRATE" property="bookRate"/>
  		<result column="BOOKSALE" property="bookSale"/>
  		
  		<!-- 1:1 -->
  		<association property="bankBookImgDTO" javaType="BankBookImgDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</association>
  		<!-- 1:n -->
  		<!-- <collection property=""></collection> -->
  		
  	</resultMap>
  	
  	<insert id="setBankBookAdd" parameterType="BankBookDTO">
  		<selectKey keyProperty="bookNumber" resultType="Long" order="BEFORE">
  			SELECT BankBook_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO BANKBOOK
  		VALUES(#{bookNumber}, #{bookName}, #{bookRate}, #{bookSale}, #{bookDetail})
  	</insert>
  	
  	<delete id="setBankBookDelete" parameterType="BankBookDTO">
  		DELETE BANKBOOK
  		WHERE BOOKNUMBER = #{bookNumber}
  	</delete>
  	
  	<update id="setBankBookUpdate" parameterType="BankBookDTO">
  		UPDATE BANKBOOK SET BOOKNAME = #{bookName}, BOOKRATE = #{bookRate}, BOOKSALE = #{bookSale}, BOOKDETAIL = #{bookDetail}
  		WHERE BOOKNUMBER = #{bookNumber}
  	</update>
  	
  	<insert id="setBankBookImgAdd" parameterType="BankBookImgDTO">
  		INSERT INTO BANKBOOKIMG
  		VALUES(BankBook_SEQ.NEXTVAL, #{bookNumber}, #{fileName}, #{oriName})
  	</insert>
  	
  </mapper>